/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  position: sticky;
  top: 0;
  border-bottom: 1px solid $border-color;
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  -webkit-animation: intro 0.3s both;
          animation: intro 0.3s both;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
  z-index: 20;

  &__inner-wrap {
    @include container;
    @include clearfix;
    padding: 1em 1em 1em;
    font-family: $sans-serif-narrow;

    @include breakpoint($x-large) {
      max-width: $x-large;
    }

    nav {
      z-index: 10;
    }

    a {
      text-decoration: none;
      color: $text-color;
      transition: color 0.3s ease;
      
      &:hover {
        color: $primary-color;
      }
    }
  }
}

.masthead__menu {

  ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
  }
}

.masthead__menu-item {
  display: block;
  list-style-type: none;
  white-space: nowrap;

  &--lg {
    padding-right: 2em;
    font-weight: 700;
    color: $primary-color;
  }
  
  a {
    display: block;
    padding: 0.5em 1em;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
    
    &:hover {
      border-bottom-color: $primary-color;
      color: $primary-color;
    }
  }
}